body{
  margin: 0;
    padding: 0;
}

.container{
    height: 850;
    width: 1920;
    display: flex;
     align-items: center;
    justify-content: space-between;
    padding:0px 50px;
    background-color:  rgba(229, 84, 115, 0.15);


}

container-img{
    height:400;
    width: 600;
  

}


/* footer section */
.btn-info{
    background-color: #E55473;
    border-radius: 5px;
    border-style: none;
    padding: 10px 12px;
    color: white;
}

.foot{
    background-color: black;
   text-align: center;
}

.footer-info{
    color: #E55473;
    
}
h2{
   color: aliceblue;
    
    
}

h6{
     
    color: aliceblue;
    
}
address{
    color: rgb(77, 77, 77);
}