body{
  margin: 0;
    padding: 0;
}

.container{
    height: 850;
    width: 1920;
    display: flex;
     align-items: center;
    justify-content: space-between;
    padding:0px 50px;
    background-color:  rgba(229, 84, 115, 0.15);


}

container-img{
    height:400;
    width: 600;
  

}
.btn-info{
     border-radius: 5px;
    border-style: none;
    padding: 10px 12px;
    color: white;
    background-color: #E55473;
}

/* section conner card*/

 .cornner{
    color: rgb(23, 19, 19);
    text-align: center;

}

.card-container{
     max-width: 990px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap:24px;
   



}



h4{
    text-align: center;
    text-decoration: underline;
}


p{
    color: rgb(82, 79, 79);
    text-align: center;
}
.flo-bg{
   background-color: aqua;
     border-radius:300px 300px 0px 0px;
     width: 200px;
     height: 300px;
      box-shadow: 4px 4px 4px gray;

}
.flo-tow{
    background-color: blueviolet;
      border-radius:300px 300px 0px 0px;
     width: 200px;
     height: 300px;
      box-shadow: 4px 4px 4px gray;
    
}
.flo-three{
     border-radius:300px 300px 0px 0px;
    background-color: palevioletred;
     width: 200px;
     height: 300px;
      box-shadow: 4px 4px 4px gray;

}
/* offer section */
.offer-container{
    height: 850;
    width: 1920;
    padding: 50px;
    display: flex;
     align-items: center;
    justify-content: space-around;
    padding:0px 50px;
    background-color:  rgba(229, 84, 115, 0.15);

}
.btn-off{
    background-color: #E55473;
    border-radius: 5px;
    border-style: none;
    padding: 10px 12px;
    color: white;
    margin-left: 40%;
}
/* ------------------ */

/* instragra section */
.cards{
    display:flex;
    justify-content: center;
    gap:10px;
}

.card:hover{
    width: 220px;
    height:300px;
    box-shadow: 4px 4px 4px gray;

}

.img-ins{
 
    width: 220px;
    height:300px;
    
}

/* ----------------- */

.content{
    max-width: 900px;
    text-align: center;
    background-image: url('./image/Rectangle\ 9.png');
    margin: 50px auto;
    padding: 20px;

}
input{
    width: 500px;
   border-radius: 5px;
    border-style: none;
    padding: 10px 12px;
    background-color: rgb(192, 190, 189);
}


/* footer section */
.foot{
    background-color: black;
   text-align: center;
   padding: 130px;
}

.footer-info{
    color: #E55473;
    
}
h2{
   color: aliceblue;
   margin-top: 50px;
    
    
}

h6{
     margin-top: 20px;
    color: aliceblue;
    
}
address{
    margin-top: 30px;
    color: rgb(77, 77, 77);
}